.card {
    text-align: center;
    border: 2px dashed lightblue;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

.mainCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.rowCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card h2{
    color: aqua;
}
.card .cardTitle{
    font-size: 24px;
    font-weight: 700;
    color: lightcoral;
}
.card .cardDesignation{
    color: lightseagreen;
}

.card .bloodGroup{
    color: yellowgreen;
}

.card .email{
    color: lightgreen;
}

/* input {
    border: 2px solid red;
} */

.valid {
    background: green;
}

.invalid {
    background: red;
}